#searchBar {
    width: 20%;
    height: 70%;
    display: flex;
    align-items: center;

    background-color: white;

    border-radius: 2vh;
    overflow: hidden;

}

#searchBar img {
    width: 10%;
    margin-right: 4%;
    margin-left: 4%;
}

#searchBar input {
    height: 100%;
    width: 100%;
    border: none;
}

#searchBar input:focus {
    height: 100%;
    width: 100%;
    border: none;
}